
    div h1 {color: blue};
    div ul h2 img {width: 400px;};
    #thirdDiv{height: 600px; width:500px;}
    #thirdDiv{background-color: rgb(60, 88, 31);}
    #spanId{font-size: 18px;}
    #spanId{margin:50px;}
    #thirdDiv{padding:50px;}
    #thirdDiv{border: rgb(190, 182, 182);width: 450px;}

    